body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;

  background: url("../../assets/images/login-background.png") no-repeat center
    center;
  background-size: 100% auto;
}

.login-box {
  width: 480px;
  padding: 40px 20px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.login-logo {
  width: 90px;
  margin-bottom: 15px;
  display: block;
  margin: 0 auto;
}

.login-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box form input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.button-login {
  width: 60%;
  margin: 0 auto;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #e4add3;
  color: white;
  cursor: pointer;
}

.button-ldap {
  width: 40%;
  margin: 20px auto;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  cursor: pointer;
}
