.app-table {
  width: 100%;
  border-collapse: collapse;
}

.app-table th,
.app-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.app-table th {
  background-color: #f4f4f4;
}
